body
{
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	background:url("../imgs/body.jpg") #CCCCCC repeat-x left top;
	text-align:center;
}
	#page
	{
		width:650px;
		margin:10px auto 10px auto;
		text-align:center;
	}
		#title
		{
			width:650px;
			background:url("../imgs/title.gif") left top no-repeat;
			text-align:center;
			float:left;
		}
			#title h1
			{
				margin:0;
				padding:10px 10px 5px 10px;
				font-size:16px;
				color:#FF0000;
			}
		#contents
		{
			float:left;
			width:650px;
			background:url("../imgs/content.gif") left top repeat-y;
			text-align:left;
		}
			#navigation
			{
				width:170px;
				border:1px solid #999999;
				float:left;
				padding:0;
				margin:45px 0px 5px 15px;
			}
				#navigation ul
				{
					margin:0;
					padding:0;
					list-style:none;
				}
					#navigation ul li
					{
						margin:0;
						padding:0;
					}
						#navigation ul li a
						{
							width:auto;
							height:15px;
							display:block;
							padding:2px 10px 2px 10px;
							font-size:11px;
							font-weight:bold;
							color:#666666;
							background:#EEEEEE;
							text-decoration:none;
						}
							#navigation ul li a:hover
							{
								color:#333333;
								background:#CCCCCC;
							}
			#content
			{
				width:430px;
				float:left;
				margin:0px 0px 10px 0px;
			}
				#content h1
				{
					margin:5px 15px 15px 15px;
					padding:0;
					font-size:22px;
					font-weight:normal;
					color:#000000;
					border-bottom:2px solid #333333;
				}
				#content h2
				{
					margin:5px 15px 5px 15px;
					padding:0;
					font-size:15px;
					color:#333333;
				}
				#content h3
				{
					width:80px;
					margin:5px 15px 15px 350px;
					padding:0;
					font-size:12px;
					color:#666666;
					border:1px solid #CCCCCC;
					padding:1px 7px 1px 7px;
					text-align:center;
				}
				#content p
				{
					margin:0px 15px 5px 15px;
					padding:0;
					font-size:12px;
					color:#333333;
				}
				#content p.espacio
				{
					font-size:1px;
					height:1px;
					width:auto;
					border-top:1px solid #CCCCCC;
				}
				#content  a
					{
						color:#666666;
						text-decoration:none;
					}
						#content a:hover
						{
							color:#333333;
							background:#CCCCCC;
						}
				#content fieldset
				{
					border:none;
					margin:0 30px 0 30px;
					padding:0;
				}
					#content #sectForm
					{
						margin:0px 0px 15px 0;
					}
						#content #sectForm p
						{
							font-size:12px;
							color:#333333;
							padding:0 0 10px 0;
							margin:0 0 0 20px;
						}
						#content #sectForm p.theader
						{
							font-size:14px;
							color:#333333;
							font-weight:bold;
							padding:0 0 10px 0;
							margin:0 0 0 20px;
						}

						#content #sectForm input
						{	
							font-size:12px;
							color:#333333;
							letter-spacing:1px;
							color:#000000;
							background:#EEEEEE;
							width:150px;
						}
						#content #sectForm .check
						{
							margin-left:0px;
							background:none;
							width:auto;
							padding:0;
						}
						#content #sectForm label
						{	
							font-size:12px;
							letter-spacing:1px;
							color:#000000;
							padding:1px 4px 1px 1px;
						}
						#content #sectForm label.invalid
						{
							color:red;
						}
						#content #sectForm p.invalid
						{
							color:red;
						}

						#content #sectForm a
						{
							color:#666666;
							text-decoration:none;
							background:#EEEEEE;
						}
						#content #sectForm a:hover
						{
							color:#333333;
							background:#CCCCCC;
						}

						#content #sectForm #bSubmit p input
						{
							text-align:center;
							margin:0;
							padding:0;
							font-size:12px;
							font-weight:bold;
							width:250px;
						}
					#content #passSubmit p
					{
						text-align:center;
						margin:0;
						padding:0;
					}
						#content #passSubmit p input
						{
							font-size:12px;
							font-weight:bold;
							background:#CCCCCC;
						}
					#content #stForm
					{
						margin:0px 0px 15px 0;
					}
						#content #stForm input
						{
							margin-left:14px;
							font-size:12px;
							letter-spacing:1px;
							color:#000000;
							background:#EEEEEE;
							padding:1px 5px 1px 5px;
						}
					#content #stSubmit p
					{
						text-align:center;
						margin:0;
						padding:0;
					}
						#content #stSubmit p input
						{
							font-size:12px;
							font-weight:bold;
							background:#CCCCCC;
						}
		#footer
		{
			clear:both;
			float:left;
			width:650px;
			background:url("../imgs/footer.gif") left bottom no-repeat;
		}
			#footer h2
			{
				margin:0px 20px 0px 40px;
				padding:0;
				color:#333333;
				font-size:12px;
			}
			#footer p
			{
				margin:0px 20px 10px 40px;
				padding:0;
				color:#333333;
				font-size:10px;
			}
