<h1>Configuración del Cache del sistema</h1>
				<form class="sectForm" action="index.pl?sect=cache" method="post">
					<fieldset id="cache">
						<p><label for="cMem">Memoria de Cache</label><input type="text" name="cMem" id="cMem"/></p>
						<p><input type="hidden" name="act" value="change"/></p>
					</fieldset>
					<!-- CACHE_DIRS -->
					<fieldset id="cSubmit">
						<p><input type="submit" name="cSubmitB" id="cSubmitB" value="Cambiar Configuración" /></p>
					</fieldset>
				</form>
