<h1>Configuración del Cache del sistema</h1>
				<form action="index.pl?sect=cache" method="post">
				<table id="sectForm">
					<fieldset>
						<tr>
						<td><p><label for="cMem">Memoria de Cache</label></p></td>
						<td><p><input type="text" name="cMem" id="cMem"/></p></td>
						<p><input type="hidden" name="act" value="change"/></p>
						</tr>
					</fieldset>
					<fieldset>
						<tr>
						<td colspan="2" id="bSubmit"><p><input type="submit" name="cSubmitB" id="cSubmitB" value="Cambiar Configuración" /></p></td>
						</tr>
					</fieldset>
				</table>
				</form>
				<!-- CACHE_DIRS -->
