<h1>Estado General del sistema</h1>
						<form action="index.pl?sect=general" method="post">
						<table id="sectForm">
						<fieldset>
							<tr>
							<td><p><label for="gEnable">Activar sistema</label></p></td>
							<td><p><input type="checkbox" name="gEnable" id="gEnable" class="check" value="1"/></p></td>
							</tr>
							<tr>
							<td><p><label for="gHPort">Puerto HTTP</label></p></td>
							<td><p><input type="text" maxlength="5" name="gHPort" id="gHPort"/></p></td>
							</tr>
							<tr>
							<td><p><label for="gIPort">Puerto ICP</label></p></td>
							<td><p><input type="text" maxlength="5" name="gIPort" id="gIPort"/></p></tr>
							</tr>
							<tr>
							<td><p><label for="gName">Nombre Visible</label></p></td>
							<td><p><input type="text" name="gName" id="gName"/></p></tr>
							</tr>
							<tr>
							<td><p><label for="gDomain">Adicionar dominio</label></p></td>
							<td><p><input type="text" name="gDomain" id="gDomain"/></p></tr>
							</tr>
							<tr>
							<td colspan="2"><p><input type="hidden" name="act" value="change"/></p></tr>
							</tr>
						</fieldset>
						<fieldset>
							<tr>
							<td colspan="2" id="bSubmit"><p><input type="submit" value="Cambiar Configuración"/></p></td>
							</tr>
						</fieldset>
						</table>
					</form>
					<!-- MESSAGE -->
