<h1>Creación de un nuevo Directorio de Cache</h1>
					<form class="sectForm" action="index.pl?sect=cache" method="post">
						<fieldset id="cachedir">
							<p><input type="hidden" name="cID" id="cID"/></p>
							<p><label for="cDir">Directorio</label><input type="text" name="cDir" id="cDir"/></p>
							<p><label for="cSize">Tamaño</label><input type="text" name="cSize" id="cSize"/></p>
							<p><input type="hidden" name="sub" value="dir"/></p>
							<p><input type="hidden" name="act" value="add"/></p>
						</fieldset>
						<fieldset id="cSubmit">
							<p><input type="submit" name="cSubmitB" id="cSubmitB" value="Agregar directorio" /></p>
						</fieldset>
					</form>
