<h1>Preferencias</h1>
<h2>Cambiar Contraseña</h2>
<form action="index.pl?sect=settings" method="post">
	<table id="sectForm">
	<fieldset>
		<tr>
		<td><p><label for="oldPass">Contraseña Actual</label></p></td>
		<td><p><input type="password" name="oldPass" id="oldPass"/></p></td>
		</tr>
		<tr>
		<td><p><label for="newPass">Nueva Contraseña</label></p></td>
		<td><p><input type="password" name="newPass" id="newPass"/></p></td>
		</tr>
		<tr>
		<td><p><label for="newPass2">Ingresar de nuevo</label></p></td>
		<td><p><input type="password" name="newPass2" id="newPass2"/></p></td>
							<p><input type="hidden" name="sub" value="password"/></p>
							<p><input type="hidden" name="act" value="change"/></p>
	</fieldset>
	<fieldset>
		<tr><td colspan="2" id="bSubmit"><p><input type="submit" name="passSubmitB" value="Cambiar" /></p></td></tr>
	</fieldset>
	</table>
</form>
