<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tentaculo - squid configurator</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<style type="text/css" media="screen">
			<!-- @import url("elements/css/contents.css");-->
		</style>
	</head>
	<body>
		<div id="page">
			<div id="title">
				<h1>Sistema de Navegación Controlada</h1>
			</div>
			<div id="contents">
				<div id="navigation">
					<ul>
						<li><a href="index.pl">Estado</a></li>
						<li><a href="index.pl?sect=general">General</a></li>
						<li><a href="index.pl?sect=cache">Cache</a></li>
						<li><a href="index.pl?sect=acl">ACL</a></li>
						<li><a href="index.pl?sect=settings">Preferencias</a></li>
						<li><a href="index.pl?sect=logout">Salir</a></li>
					</ul>
				</div>
				<div id="content">
					<!-- CONTENT -->
				</div>
			</div>
			<div id="footer">
				<p>Esta aplicación es Software Libre</p>
			</div>
		</div>
	</body>
</html>
